<!DOCTYPE html>
<html>
<head>
    <title>Generate RSA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="login-box">
        <h2>
            Generate RSA
        </h2>
        <form>
            <div class="user-box" id="my-form">
                <input class="user-box" type="number" name="p" id="p">
                <label for="p">Enter P:</label>
            </div>
            <div class="user-box">
                <input class="user-box" type="number" name="q" id="q">
                <label for="p">Enter Q:</label>
            </div>
            <div class="user-box">
                <input class="user-box" type="number" name="e" id="e">
                <label for="p">Enter E:</label>
            </div>
            <a href="#" id="generate-button" onclick="createLabelAndInput()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Generate
            </a>
        </form>
    </div>
</body>
</html>
